################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/ADXL345_00/x64/Debug
/Projects/I2CScanner_00/x64/Debug
/Projects/SensorBox_00/Debug
/Projects/NodeMCUWebServer_00/Release
/Projects/DUST_00/Release
/.vs
.vs/Arduino/v16/.suo
.vs/Arduino/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
